@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@200;300;400;500;600&display=swap");

:root {
  --stroke-100: #cce6cc;
  --stroke-200: #99cc99;
  --stroke-300: #66b366;
  --stroke-400: #339933;
  --stroke-500: #008000;
  --stroke-600: #006600;
  --stroke-700: #004d00;
  --stroke-800: #003300;
  --stroke-900: #001a00;

  --faded-100: #fbe1df;
  --faded-200: #f8c3bf;
  --faded-300: #f4a69e;
  --faded-400: #f1887e;
  --faded-500: #ed6a5e;
  --faded-600: #be554b;
  --faded-700: #8e4038;
  --faded-800: #5f2a26;
  --faded-900: #2f1513;

  --grey-100: #f8fafc;
  --grey-200: #f1f5f9;
  --grey-300: #e2e8f0;
  --grey-400: #cbd5e1;
  --grey-500: #94a3b8;
  --grey-600: #64748b;
  --grey-700: #475569;
  --grey-800: #344256;
  --grey-900: #1e293b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "taviraj", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--grey-900);
}

.hide {
  display: none;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;
  border: 1px solid var(--stroke-300);
  border-radius: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
}

.navbar h1 {
  color: var(--stroke-400);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  line-height: 0.3;
}

.title {
  text-align: center;
}

.btn {
  border: none;
  padding: 10px 40px;
  /* background-color: var(--faded-500); */
  color: #fff;
  border-radius: 5px;
  transition: transform 0.5s ease-in;
}

.btn-add {
  background-color: var(--stroke-500);
}

.btn-close {
  background-color: red;
}

.btn:hover {
  transform: scale(0.95);
}

.home {
  margin: 30px 0;
}

.task-list {
  background-color: var(--faded-200);
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px solid var(--stroke-200);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-list h3 {
  font-weight: 400;
}

.task-list .close {
  color: red;
  cursor: pointer;
  margin-right: 10px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 2rem;
  height: 2rem;
  border: 5px dotted var(--faded-300);
  border-radius: 50%;
  /* border-top-color: var(--secondary); */
  animation: spinner 0.7s linear infinite;
}

.loading {
  margin: 5rem auto;
  text-align: center;
}

.loading-sm {
  width: 2rem;
  height: 2rem;
}

.create {
  margin-bottom: 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-control label {
  margin-bottom: 7px;
}

.form-control input {
  height: 35px;
}

.form-control textarea {
  height: 100px;
}

.form-control input,
.form-control textarea {
  border: 1px solid var(--grey-400);
  border-radius: 3px;
  padding: 5px 5px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
}

.footer {
  text-align: center;
}

.footer a:hover {
  color: var(--faded-500);
}
